<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DDD Attendees</title>

    <!-- Bootstrap -->
    <link href="/content/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body>
        
        <div class="container">
            @Section['Content']
        </div>
    
        <script src="/content/js/jquery-2.1.1.min.js"></script>
        <script src="/content/js/bootstrap.min.js"></script>
    </body>
</html>