<!DOCTYPE html>
<html lang="en" ng-app="ddd">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DDD Attendees</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link href="/content/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" ng-view></div>

        <script src="/content/js/jquery-2.1.1.min.js"></script>
        <script src="/content/js/bootstrap.min.js"></script>
        <script src="/content/js/angular.min.js"></script>
        <script src="/content/js/angular-route.min.js"></script>

        <!-- Angular scripts -->
        <script src="/content/ang/app.js"></script>
        <script src="/content/ang/routes.js"></script>
        <script src="/content/ang/attendeesController.js"></script>
        <script src="/content/ang/services/attendeeService.js"></script>
        <script src="/content/ang/detailsController.js"></script>
        <script src="/content/ang/newAttendeeController.js"></script>
    </body>
</html>